.redirecionamento{
padding-top: 8rem;

margin: 0 auto;
text-align: center;

}

.redirecionamento-botao{
    margin: 0 auto;
    display: block;
    padding: 2rem;
    background-color: green;
    text-decoration: none;   
    color: white;
    font-size: larger;
    border-radius: 1rem ;
    max-width: 400px;

}
